<div class="row">
    <div class="col-lg-4">
        <img src="../../assets/msy.png" class="img-fluid" alt="" />
    </div>
    <div class="col-lg-8 pt-4 pt-lg-0 content">
        <h3>web devolepr</h3>
        <p class="fst-italic">
            my name is ayman elsayed ahmed, i am a web developer, styding web devolep in iti.
        </p>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li>
                        <i class="bi bi-rounded-right"></i>
                        <strong>Birthday:</strong> 5 feb 1998
                    </li>
                    <li>
                        <i class="bi bi-rounded-right"></i>
                        <strong>Website:</strong> www.example.com
                    </li>
                    <li>
                        <i class="bi bi-rounded-right"></i>
                        <strong>Phone:</strong> +2011 2133 1405
                    </li>
                    <li>
                        <i class="bi bi-rounded-right"></i>
                        <strong>City:</strong> City : Minya
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li>
                        <i class="bi bi-rounded-right"></i>
                        <strong>Age:</strong> 24
                    </li>
                    <li>
                        <i class="bi bi-rounded-right"></i>
                        <strong>Degree:</strong> Bachelor
                    </li>
                    <li>
                        <i class="bi bi-rounded-right"></i>
                        <strong>PhEmailone:</strong> info@mfate7.com
                    </li>
                    <li>
                        <i class="bi bi-rounded-right"></i>
                        <strong>Freelance:</strong> Available
                    </li>
                </ul>
            </div>
        </div>
        <p>
            Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis. Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia
            repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
        </p>
    </div>
</div>