<section id="intro" class="">
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-md-5 text-center text-md-start">
                <h1>
                    <div class="display-2">Ayman Elsayed</div>
                    <div class="display-5 text-muted">
                        web <span class="text-danger">devolepr </span>
                    </div>
                </h1>
                <!-- <p class="lead my-4 text-muted">about me</p> -->
                <a href="#about" class="btn btn-secondary btn-lg">About Me</a>
            </div>
            <div class="col-md-5 text-center d-none d-md-block">
                <img src="../../assets/msy.png" alt="" class="img-fluid" />
            </div>
        </div>
    </div>
</section>